/* color sobre var #acd76c */
body {
    background-color: #fffef5;
}

.navbar {
    background-color: #38f01742;
}

.navbar-brand,
.nav-link,
.footer-text {
    color: #207a26 !important;
}

.hero-title {
    color: #009688;
    font-weight: bold;
}
.lead{
    text-align: justify;
}

footer {
    color: #207a26;

}